.jumbotron{
	background-image: url('http://i.imgur.com/JApi66Y.jpg');
	color: white;
}

/* second row
.second-row{
	background-image: url('https://s-media-cache-ak0.pinimg.com/236x/49/5c/a2/495ca2c1079f95ff025d5dcbeb561138.jpg');

}
*/